body {
  background-image: url("27078818-writer-wallpapers.jpg");
  background-size: cover;
  width: auto;
  height: auto;
}

h1 {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 3em;
  margin-bottom: -5px;
}

h2 {
  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 0.8em;
}

#quoteSquare {
  background-color: white;
  margin: auto;
  width: 800px;
  min-height: 400px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  margin-top: 90px;
}

#quoteSquare, #quote, #quoteAuthor, #buttons {
  display: block;
}

#quote, #quoteAuthor {
  font-family: 'Sacramento', cursive;
  color: gray;
}

#quote {
  text-align: center;
  font-size: 3em;
  margin-top: 40px;
}

#quoteAuthor {
  text-align: right;
  margin-right: 100px;
  margin-bottom: 100px;
}

#buttons {
  margin: 20px 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 40px
}

#newQuote, #twitterIcon, #tumblrIcon {
  background-color: gray;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 2px;
  margin-top: 2px;
  margin-left: 2px;
}

#newQuote {
  font-family: 'Lora', serif;
  font-size: 1.1em;
  float: right;
  margin-right: 50px;
}

/* #twitterIcon, .tumblr {
  float: left;
  height: 20px;
  width: 35px;
} */

#by {
  text-align: center;
  color: white;
  margin-top: 5px;
  font-family: "Arial";
  font-size: 0.8em;
}
